.footer{
    background-color: black;
    color:#E0E0E0;
    padding: 50px 20px;
}
.footer-title h1{
    text-align: center;
    padding:20px 50px;
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
}
.location-t{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    
}
.location-t h1{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    position: relative;
}
.location-t h1::after{
    content: "";
    position:absolute;
    bottom:-7px;
    left:0;
    height: 40px;
    width: 70px;
    color:green;
}