
.title h1{
    color: rgb(251 172 60);
    text-align: center;
    padding:50px ;
    font-size:48px;
}
.content{
    display: flex;
    padding:20px 100px;
    justify-content: center;
    gap:50px;

}
.content .img img {
    width: 700px;
    height: 394px;
    
}
.text p{
    font-size : 20px;
    font-family: "Open Sans", sans-serif;
    color:#E0E0E0;
}
.text {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap:50px;
}
